*{
    font-family: "Open Sans";
    text-decoration: none;
}

/* shared style */
.btn{
    padding: 15px 32px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav > ul> li{
    list-style: none;
    margin-right: 50px;
    color: #474747;
}
nav a{
    color: #474747;
}
.web-name{
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}
span{
    color: #FD6E0A;
}
/* header related style */

.header{
    background-color: #FFF8F3;
}



/* bannar */

.banner{
    display: flex;
    margin:0 50px 0 200px;
    justify-content: space-between;
}


.left-banner{
    
}
.left-banner > h4{
    font-size: 35px;
    font-weight: 600;
}
.left-banner > h2{
    font-size: 60px;

}
.mainpic{
    width: 500px;
}
